<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="text-center my-3">All Stays</h2>
      <% @stays.each do |stay| %>
        <%= render stay %>
      <% end %>
    </div>
  </div>
</div>
